<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/paciente.css') }}">
</head>
<body>
    <main class="main-container">
        <h1 class="page-title">Editar Paciente</h1>

        <form method="POST">
            <label for="Nombre_Pa">Nombre:</label>
            <input type="text" name="Nombre_Pa" value="{{ paciente.Nombre_Pa }}" required><br>

            <label for="Apellidos">Apellidos:</label>
            <input type="text" name="Apellidos" value="{{ paciente.Apellidos }}" required><br>

            <label for="Teléfono1">Teléfono 1:</label>
            <input type="text" name="Teléfono1" value="{{ paciente.Teléfono1 }}" required><br>

            <label for="Teléfono2">Teléfono 2:</label>
            <input type="text" name="Teléfono2" value="{{ paciente.Teléfono2 }}"><br>

            <label for="Dirección">Dirección:</label>
            <input type="text" name="Dirección" value="{{ paciente.Dirección }}" required><br>

            <label for="Correo">Correo:</label>
            <input type="email" name="Correo" value="{{ paciente.Correo }}" required><br>

            <button type="submit">Guardar Cambios</button>
        </form>

        <a href="{{ url_for('verinformacion.ver_pacientes') }}">Regresar a la lista de pacientes</a>
    </main>
</body>
</html>
