<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/actualizarinformacion/paciente.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/all.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <h1>Ingresar Paciente</h1>

    <form method="POST">
        <label for="Nombre_Pa">Nombre:</label>
        <div class="input-container">
            <input type="text" name="Nombre_Pa" id="Nombre_Pa" required>
            <i class="fa-solid fa-user"></i>
        </div><br>

        <label for="Apellidos">Apellidos:</label>
        <div class="input-container">
            <input type="text" name="Apellidos" id="Apellidos" required>
            <i class="fa-solid fa-user-group"></i>
        </div><br>

        <label for="Teléfono1">Teléfono 1:</label>
        <div class="input-container">
            <input type="text" name="Teléfono1" id="Teléfono1" required>
            <i class="fa-solid fa-phone"></i>
        </div><br>

        <label for="Teléfono2">Teléfono 2:</label>
        <div class="input-container">
            <input type="text" name="Teléfono2" id="Teléfono2" required>
            <i class="fa-solid fa-phone-volume"></i>
        </div><br>

        <label for="Dirección">Dirección:</label>
        <div class="input-container">
            <input type="text" name="Dirección" id="Dirección" required>
            <i class="fa-solid fa-location-dot"></i>
        </div><br>

        <label for="Correo">Correo:</label>
        <div class="input-container">
            <input type="email" name="Correo" id="Correo" required>
            <i class="fa-solid fa-envelope"></i>
        </div><br>

        <div class="botones-accion">
            <button type="submit">Guardar</button>
            <a href="{{ url_for('verinformacion.ver_pacientes') }}">
                <button type="button">Regresar</button>
            </a>
        </div>
    </form>
</body>
</html>
