<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Proveedor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/crearinformacion/proveedores.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/all.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <main class="main-container">
        <h1 class="page-title">Agregar Proveedor</h1>

        <form method="POST">

            <label for="Id_Proveedor">ID Proveedor:</label>
            <div class="input-container">
                <input type="number" name="Id_Proveedor" id="Id_Proveedor" required>
                <i class="fa-solid fa-id-badge"></i>
            </div>
            <br>


            <label for="Nombre_Prov">Nombre:</label>
            <div class="input-container">
                <input type="text" name="Nombre_Prov" id="Nombre_Prov" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <br>

            <label for="Correo">Correo:</label>
            <div class="input-container">
                <input type="email" name="Correo" id="Correo" required>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <br>

            <label for="Dirección">Dirección:</label>
            <div class="input-container">
                <input type="text" name="Dirección" id="Dirección" required>
                <i class="fa-solid fa-map-marker-alt"></i>
            </div>
            <br>

            <label for="Teléfono">Teléfono:</label>
            <div class="input-container">
                <input type="text" name="Teléfono" id="Teléfono" required>
                <i class="fa-solid fa-phone"></i>
            </div>
            <br>

            <div class="botones-accion">
                <button type="submit">Guardar</button>
                <a href="{{ url_for('verinformacion.ver_proveedores') }}">
                    <button type="button">Regresar</button>
                </a>
            </div>
        </form>
    </main>

</body>
</html>
