<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Remesa</title>
</head>
<body>
    <script>
        function filtrarProveedores() {

            let inputproveedor = document.getElementById("buscar_proveedor").value.toLowerCase();
            let opcionesProveedor = document.getElementById("Id_Proveedor").options;
            let inputproducto = document.getElementById("buscar_producto").value.toLowerCase();
            let opcionesProducto = document.getElementById("Id_Producto").options;


            // Filtrar las opciones de Id de Proveedor
            for (let i = 0; i < opcionesProveedor.length; i++) {
                let textoProveedor = opcionesProveedor[i].text.toLowerCase();
                opcionesProveedor[i].style.display = textoProveedor.includes(inputproveedor) ? "" : "none";
            }

            for (let i = 0; i < opcionesProducto.length; i++) {
                let textoProveedor = opcionesProducto[i].text.toLowerCase();
                opcionesProducto[i].style.display = textoProveedor.includes(inputproducto) ? "" : "none";
            }
        }
        
    </script>
    <h2>Ingresar Nueva Remesa</h2>

    

    <form method="POST">

        

        <input type="text" id="buscar_proveedor" onkeyup="filtrarProveedores()" placeholder="Escriba para buscar...">

        <label>ID Proveedor:</label>
        <select name="Id_Proveedor" id="Id_Proveedor" required>
            <option value="" disabled selected>Seleccione un proveedor</option>
            {% for proveedor in proveedores %}
                <option value="{{ proveedor.Id_Proveedor }}">
                    {{ proveedor.Id_Proveedor }} - {{ proveedor.Nombre_Prov }}
                </option>
            {% endfor %}
        </select>
        <br>




        <input type="text" id="buscar_producto" onkeyup="filtrarProducto()" placeholder="Escriba para buscar...">

        <label>Nombre del producto:</label>
        <select name="Id_Producto" id="Id_Producto" required>
            <option value="" disabled selected>Selecciona la clave del producto</option>
            {% for producto in inventarios %}
                <option value="{{ producto.Código_Prod }}">
                    {{ producto.Código_Prod }}
                </option>
            {% endfor %}
        </select>
        <br>




        <label>Modelo:</label>
        <input type="text" name="modelo" required><br>

        <label>Nombre:</label>
        <input type="text" name="nombre" required><br>

        <label>Número de Entradas:</label>
        <input type="number" name="num_entradas" required><br>

        <label>Factura:</label>
        <input type="text" name="factura" required><br>

        <label>Fecha:</label>
        <input type="date" name="fecha" required><br>

        <button type="submit">Guardar</button>
    </form>

    <br>
    <a href="{{ url_for('verinformacion.ver_remesas') }}">Regresar</a>
</body>
</html>
